/* aboutUsStyle.module.css */

.about-us-container {
    text-align: center;
    margin-top: 100px;
    margin-left: -250px;
  }
  
  .about-us-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-us-container .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-us-container .team-member {
    margin: 20px;
  }
  
  .about-us-container img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  
  .about-us-container h2 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .about-us-container p {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  .about-us-container a {
    text-decoration: none;
    color: #007bff;
  }
  
  .about-us-container a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .about-us-container {
      margin-left: 0; 
    }
  
    .about-us-container h1 {
      font-size: 2rem; 
    }
  
    .about-us-container img {
      width: 150px; 
      height: 150px;
    }
  
    .about-us-container h2 {
      font-size: 1.3rem; 
    }
  
    .about-us-container p {
      font-size: 1rem; 
    }

    @media screen and (max-width: 768px) {
      .about-us-container {
        margin-left: -350px; 
      }
      .about-us-container h1 {
        font-size: 2rem; 
      }

      .about-us-container img {
        width: 150px; 
        height: 150px; 
      }

      .about-us-container h2 {
        font-size: 1.3rem; 
      }

      .about-us-container p {
        font-size: 1rem; 
      }
    }

  }