/* listPageStyle.css */

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list-name {
  position: relative;
  background-color: #f0f0f0;
  padding: 2rem;
  text-align: center;
  width: auto;
  display: inline-block;
  margin-top: 150px;
  margin-bottom: 80px;
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
  box-shadow: 0px 13px 10px black;
  border-radius: 0.5em;
}

.box2 {
  position: relative;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  width: 300px;
  cursor: pointer;
}

.box2:hover {
  transform: scale(1.05);
}

.book-image {
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.book-image:hover {
  transform: scale(1.1);
}

.book-title {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  width: 200px;
}

.close-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background-color: #180e0e;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 30px;
  z-index: 2;
  transition: background-color 0.3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.close-icon:hover {
  background-color: #e04646;
}

.add-book2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 80px;
  border: 2px dashed #270f0f;
  border-radius: 8px;
  font-size: 20px;
  color: #170707;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-book2:hover {
  background-color: #f0f0f0;
}

.text-cont {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-size: 25px;
}

.text-cont p {
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  color: #fff;
}

.text-cont div {
  font-size: 20px;
  font-style: italic;
  color: #fff;
}

.text-cont:hover {
  opacity: 1;
}
.text-cont:hover > * {
  transform : translateY(0);
}

.text-cont > * {
  transform : translateY(20px);
  transition:transform 0.9s;
}


@media only screen and (max-width: 480px) {
  .list-name {
    font-size: 30px; 
    margin-top: 100px; 
    margin-bottom: 50px;
    margin-left: -250px;
  }

  .box2 {
    width: 250px; 
  }

  .book-image {
    width: 250px; 
    height: 300px; 
  }

  .book-title {
    width: 150px; 
  }

  .add-book2 {
    width: 100px; 
    height: 70px; 
    font-size: 18px;
  }

  .container2 {
    margin-left: -250px;
  }
}